<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= I18n.t("mailer.title")%></title>
</head>
<body>
  <h1><%= I18n.t("mailer.welcome")%></h1>
  <p><%= I18n.t("mailer.thank")%></p>
</body>
</html>
