<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <a class="nav-link" href="/blogs/new">New BLog</a>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if current_user %>
              <li>
                <%= button_to "sign_out", destroy_user_session_path, method: :delete ,class: "btn btn-danger" %>
              </li>
            <% else %>
              <li>
                <%= button_to "sign_in", new_user_session_path, method: :get ,class: "btn btn-danger" %>
              </li>
              <li>
                <%= button_to "sign_up", new_user_registration_path, method: :get, class: "btn btn-danger"  %>
              </li>
            <% end %>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>
